header {
    width: 100%;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
}

header p {
    background: black;
    padding: 0 1rem;
}

main {
    flex-grow: 1;

    width: 100%;
}