header#main-header {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background: #525252;
    padding: 0 1.5rem 1.2rem;
}

header#main-header div#top {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header#main-header div#top {
    width: 100%;
}

header#main-header div#top p#header-clock-wrapper {
    background: black;
    padding: 0 1rem;
}

header#main-header div#bottom {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header#main-header div#bottom form#timeForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

header#main-header div#bottom form#timeForm input#timeInput {
    padding: 0 1rem;
}

header#main-header div#bottom form#timeForm input[value="start"] {
    flex-grow: 1;
}

main {
    flex-grow: 1;

    width: 100%;
    overflow-y: scroll;
    padding-top: 1rem;
}

main ul {
    width: 100%;
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
}

main ul li {
    width: 30rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

main ul li article {
    min-height: 20rem;
    width: 100%;
    background: darkgray;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 2rem;

    box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 1);
}

main ul li article header {
    width: 100%;
    padding: 0.5rem 0;
    color: grey;
}

main ul li article header h3 {
    width: 100%;
}

main ul li article p {
    width: 100%;
    flex-grow: 1;
}
